:root {
  --surface-color: #121212;

  --ff-primary-color: #ffffff;
  --ff-secondary-color: #c7c7c7;

  --primary-color: #ede52f;
  /* --secondary-color: ; */

  --pd-x: clamp(1.25rem, 7vw, 5rem);
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;

  font-family: 'Satoshi', sans-serif;
  font-size: calc(1rem + 0.33vw);
  color: var(--ff-primary-color);

  background-color: var(--surface-color);

  background-image: url('/img/background-noise.gif');
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Boska', serif;
}
