:root {
  /* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1200,30,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
  /* NOTE: if you copied this from utopia and it is not working see this:
  https://github.com/shellscape/postcss-values-parser/issues/136#issuecomment-949504426 */
  --step--2: clamp(0.78rem, calc(0.63rem + 0.76vw), 1.2rem);
  --step--1: clamp(0.94rem, calc(0.73rem + 1.02vw), 1.5rem);
  --step-0: clamp(1.13rem, calc(0.85rem + 1.36vw), 1.88rem);
  --step-1: clamp(1.35rem, calc(0.99rem + 1.81vw), 2.34rem);
  --step-2: clamp(1.62rem, calc(1.14rem + 2.38vw), 2.93rem);
  --step-3: clamp(1.94rem, calc(1.32rem + 3.12vw), 3.66rem);
  --step-4: clamp(2.33rem, calc(1.52rem + 4.08vw), 4.58rem);
  --step-5: clamp(2.8rem, calc(1.74rem + 5.31vw), 5.72rem);

  --x-padding: clamp(1rem, 8vw, 7rem);

  --black-color: #030303;
  --ease-back: cubic-bezier(0.34, 1.66, 0.64, 1);

  color-scheme: light dark;
}

* {
  box-sizing: border-box;

  scrollbar-width: none;

  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  height: 100%;

  -webkit-font-smoothing: antialiased;
  font-family: 'e-Ukraine', sans-serif;
  letter-spacing: -0.5px;

  /* NOTE: this is messing up with gsap scrollTo and locomotive scroll */
  /* scroll-behavior: smooth; */

  background-color: var(--black-color);
  isolation: isolate;

  /* NOTE: this fixes clickability of footer, because
  the footer is fixed and z-indexed with -1. I will just
  add pointer events all to main sections of the page + menu + loader */
  pointer-events: none;

  transition: background-color 400ms;
}

::selection {
  color: #303030;
  background-color: #ffe6ed;
}

p {
  font-size: var(--step--2);
}

h1 {
  font-size: var(--step-5);
}

h2 {
  font-size: var(--step-4);
}

h3 {
  font-size: var(--step-3);
}

h4 {
  font-size: var(--step-3);
}

h5 {
  font-size: var(--step-2);
}

h6 {
  font-size: var(--step-6);
}

a,
button {
  /* NOTE: Tells browser not to wait for potential second tap */
  touch-action: manipulation;
}

@media (prefers-color-scheme: light) {
  :root {
    --black-color: #ebebeb;
  }

  ::selection {
    background-color: #030303;
    color: #ffe6ed;
  }
}

