#__nuxt.is-pc {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#__layout.is-pc {
  position: absolute;
  overflow: hidden;
  width: 100%;
}
