.serif {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}

.ml-responsive {
  margin-left: clamp(5rem, 10vw, 10rem);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}
